/* Icons */
/* https://www.flaticon.com/ */

/* Font */
/* Source Sans,sans-serif */

/* Color Palette */
/* Dark red ("Black Bean"): #45100C */
/* Blue ("Star command blue"): #1477B2 */
/* White ("Cultured"): #F5F4F2 */
/* Silver ("Sonic Silver"): #767676 */
/* Charcoal ("Charcoal"): #494D59 */
/* Black ("Raisin Black"): #292A33 */

body {
  color: #292A33;
  background-color: #F5F4F2;
  font-family: "Source Sans", sans-serif;
}

.reviews {
  display: flex;
  justify-content: space-around;
}

.review-list {
  flex-direction: column;
}

.review-item-div, .rating-summary {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}